.wrap {
    max-width: 600px;
    margin: 20px auto;
    background-color: aqua;
}

.name {
    width: 600px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: bisque;
}

.sex {
    //margin: 10px;
}